@import 'styles/mixins.scss';

.avatar {
    &__container {
        background-color: #F5F6Fa;
        width: 32px;
        height: 32px;
        border-radius: 50%;

        text-align: center;
        @include flex(column);

        margin-right: 16px;
    }

    &__symbol {
        @include font(12px, 14px, 700);
        text-transform: uppercase;
    }
}