@mixin flex ($flex-direction: row, $justify-content: center, $align-items: unset) {
    display: flex; 
    flex-direction: $flex-direction;
    align-items: $align-items;
    justify-content: $justify-content
}

@mixin font ($font-size: 12px, $line-height: 14px, $font-weight: 400) {
    font-size: $font-size;
    line-height: $line-height;
    font-weight: $font-weight;
}