$primary-color: #FF751D;
$secondary-color: #F5F6FB;

$button-border-radius: 16px;
$component-border-radius: 30px;

$header-height: 56px;

$font-color-primary: #52555F;
$font-color-danger: #EB5757;
$font-color-disabled: rgba(82, 85, 95, 0.7);
$font-color-white: #FFF;
$font-color-black: #000;
$font-color-placeholder: #C7CCDC;

$font-size-primary: 12px;
$font-size-bigger: 14px;

$width-mobile: 320px;
$width-tablet: 768px;
$width-desktop: 1280px;

$filter-shadow: drop-shadow(1px 3px 5px rgba(82, 85, 95, 0.15));

$input-primary-height: 52px;
$input-secondary-height: 44px;

$sign-in-form-width-desktop: 426px;
$sign-in-form-width-mobile: 280px;

$component-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);