@import 'styles/mixins';
@import 'styles/variables';

.form-switcher {
    @include flex(row, center);

    &__link {
        color: $font-color-placeholder;
        text-decoration: none;
        margin: 0 5px;

        &--active {
            color: $primary-color;
        }
    }

    margin-bottom: 10px;
}